In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
data = {
    'Test Score': [80, 85, 90, 88, 92, 95, 89, 80, 85, 88],
    'Interview Score': [8, 9, 7, 9, 8, 10, 9, 7, 8, 9],
    'Experience': [2, 3, 2, 4, 3, 5, 3, 2, 4, 3],
    'Salary': [50000, 60000, 48000, 75000, 65000, 80000, 55000, 45000, 70000, 60000]
}
df = pd.DataFrame(data)
df.head()

   Test Score  Interview Score  Experience  Salary
0          80                8           2   50000
1          85                9           3   60000
2          90                7           2   48000
3          88                9           4   75000
4          92                8           3   65000

In [3]:
X = df.iloc[:,:3]
y = df.iloc[:,-1]

model = LinearRegression()
model.fit(X,y)

LinearRegression()

In [4]:
X_Test = df.iloc[:,:3]
ypred = model.predict(X_Test)
df['Sal_pred'] = pd.DataFrame(ypred)
df['Sal_pred'] = df['Sal_pred'].round().astype(int)
df.head()

   Test Score  Interview Score  Experience  Salary  Sal_pred
0          80                8           2   50000     47674
1          85                9           3   60000     59168
2          90                7           2   48000     49200
3          88                9           4   75000     70862
4          92                8           3   65000     60363

In [5]:
mse = mean_squared_error(df['Sal_pred'], df['Salary'])
rmse = np.sqrt(mse)
r2 = r2_score(df['Sal_pred'], df['Salary'])

print("Root Mean Squared Error:", rmse.round().astype(int))
print("R-squared:", r2)

Root Mean Squared Error: 2912
R-squared: 0.926442428249777

In [6]:
_salpredict = model.predict([[88,9,3]])
_salpredict.round().astype(int)

/Users/durgaprasad/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([59500])

In [7]:
from pickle import dump 
dump(model,open('reg_model.pkl', 'wb'))

In [9]:
_salpredict = model.predict([[80,8,2]])
_salpredict

/Users/durgaprasad/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([47673.65642994])